/* Általános kerekítés */
.rounded-0 {
    border-radius: 0 !important;
  }
  
  .rounded-1 {
    border-radius: var(--bs-border-radius-sm) !important;
  }
  
  .rounded-2 {
    border-radius: var(--bs-border-radius) !important;
  }
  
  .rounded-3 {
    border-radius: var(--bs-border-radius-lg) !important;
  }
  
  .rounded-4 {
    border-radius: var(--bs-border-radius-xl) !important;
  }
  
  .rounded-5 {
    border-radius: var(--bs-border-radius-2xl) !important;
  }
  
  .rounded-pill {
    border-radius: var(--bs-border-radius-pill) !important;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  /* sm képernyőmérettől (576px) */
  @media (min-width: 576px) {
    .rounded-sm-0 {
      border-radius: 0 !important;
    }
    .rounded-sm-1 {
      border-radius: var(--bs-border-radius-sm) !important;
    }
    .rounded-sm-2 {
      border-radius: var(--bs-border-radius) !important;
    }
    .rounded-sm-3 {
      border-radius: var(--bs-border-radius-lg) !important;
    }
    .rounded-sm-4 {
      border-radius: var(--bs-border-radius-xl) !important;
    }
    .rounded-sm-5 {
      border-radius: var(--bs-border-radius-2xl) !important;
    }
    .rounded-sm-pill {
      border-radius: var(--bs-border-radius-pill) !important;
    }
    .rounded-sm-circle {
      border-radius: 50% !important;
    }
  }
  
  /* md képernyőmérettől (768px) */
  @media (min-width: 768px) {
    .rounded-md-0 {
      border-radius: 0 !important;
    }
    .rounded-md-1 {
      border-radius: var(--bs-border-radius-sm) !important;
    }
    .rounded-md-2 {
      border-radius: var(--bs-border-radius) !important;
    }
    .rounded-md-3 {
      border-radius: var(--bs-border-radius-lg) !important;
    }
    .rounded-md-4 {
      border-radius: var(--bs-border-radius-xl) !important;
    }
    .rounded-md-5 {
      border-radius: var(--bs-border-radius-2xl) !important;
    }
    .rounded-md-pill {
      border-radius: var(--bs-border-radius-pill) !important;
    }
    .rounded-md-circle {
      border-radius: 50% !important;
    }
  }
  
  /* lg képernyőmérettől (992px) */
  @media (min-width: 992px) {
    .rounded-lg-0 {
      border-radius: 0 !important;
    }
    .rounded-lg-1 {
      border-radius: var(--bs-border-radius-sm) !important;
    }
    .rounded-lg-2 {
      border-radius: var(--bs-border-radius) !important;
    }
    .rounded-lg-3 {
      border-radius: var(--bs-border-radius-lg) !important;
    }
    .rounded-lg-4 {
      border-radius: var(--bs-border-radius-xl) !important;
    }
    .rounded-lg-5 {
      border-radius: var(--bs-border-radius-2xl) !important;
    }
    .rounded-lg-pill {
      border-radius: var(--bs-border-radius-pill) !important;
    }
    .rounded-lg-circle {
      border-radius: 50% !important;
    }
  }
  
  /* xl képernyőmérettől (1200px) */
  @media (min-width: 1200px) {
    .rounded-xl-0 {
      border-radius: 0 !important;
    }
    .rounded-xl-1 {
      border-radius: var(--bs-border-radius-sm) !important;
    }
    .rounded-xl-2 {
      border-radius: var(--bs-border-radius) !important;
    }
    .rounded-xl-3 {
      border-radius: var(--bs-border-radius-lg) !important;
    }
    .rounded-xl-4 {
      border-radius: var(--bs-border-radius-xl) !important;
    }
    .rounded-xl-5 {
      border-radius: var(--bs-border-radius-2xl) !important;
    }
    .rounded-xl-pill {
      border-radius: var(--bs-border-radius-pill) !important;
    }
    .rounded-xl-circle {
      border-radius: 50% !important;
    }
  }
  
  /* xxl képernyőmérettől (1400px) */
  @media (min-width: 1400px) {
    .rounded-xxl-0 {
      border-radius: 0 !important;
    }
    .rounded-xxl-1 {
      border-radius: var(--bs-border-radius-sm) !important;
    }
    .rounded-xxl-2 {
      border-radius: var(--bs-border-radius) !important;
    }
    .rounded-xxl-3 {
      border-radius: var(--bs-border-radius-lg) !important;
    }
    .rounded-xxl-4 {
      border-radius: var(--bs-border-radius-xl) !important;
    }
    .rounded-xxl-5 {
      border-radius: var(--bs-border-radius-2xl) !important;
    }
    .rounded-xxl-pill {
      border-radius: var(--bs-border-radius-pill) !important;
    }
    .rounded-xxl-circle {
      border-radius: 50% !important;
    }
  }
  